@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,400;0,600;0,700;1,200&display=swap");
* {
  font-family: "poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  padding: 0.625em 12.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.logo {
  color: #3a6cf4;
  text-decoration: none;
  font-size: 1.8em;
  font-weight: 700;
  text-transform: uppercase;
}

nav a {
  text-decoration: none;
  padding-left: 1.875em;
  color: #3a6cf4;
  font-size: 1.1em;
  font-weight: 500;
}

nav a:hover {
  color: #601cfc;
}
section {
  padding: 6.25em 12.5em;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  color: white;
  background-image: url(images/pexels-marek-piwnicki-11032509.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.main h2 {
  color: #fff;
  font-size: 1.4em;
  font-weight: 500;
}
.main span {
  display: inline-block;
  margin-top: 0.625em;
  color: #4e9eff;
  font-size: 3em;
  font-weight: 600;
}
.main h3 {
  color: #fff;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 0.625em;
  margin-bottom: 1.875em;
}

.main .tech-stack-icons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0.9375em 0;
}

.main .tech-stack-icons p {
  font-size: 1.5625em;
  font-weight: 700;
}

.main .tech-stack-icons img {
  margin-left: 0.9375em;
  width: 2.5em;
  height: 2.5em;
}
.main-btn {
  color: #fff;
  background-color: #3a6cf4;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
  display: inline-block;
  padding: 0.9375em 2.1875em;
  letter-spacing: 1px;
  border-radius: 0.9375em;
  margin-bottom: 2.5em;
  transition: 0.7s ease;
}
.main-btn:hover {
  background-color: #0a49f6;
  transform: scale(1.1);
}

.social-icons i {
  color: #fff;
  font-size: 1.7em;
  padding-left: 1em;
  transition: 0.3s ease;
}
.social-icons i:hover {
  color: #0a49f6;
  transform: translateY(-10px);
  transition: 0.3s ease;
}

.title {
  display: flex;
  justify-content: center;
  color: #3a6cf4;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 1.875em;
  text-align: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: 21.25em;
  min-height: 28.125em;
  text-align: center;
  padding: 1.5625em;
  margin: 0.9375em;
  background-color: white;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  transition: 0.7s ease;
}

.card:hover {
  transform: scale(1.1);
}

.card .icon {
  color: #3a6cf4;
  font-size: 8em;
}

.info h3 {
  color: #3a6cf4;
  font-size: 1.2em;
  font-weight: 700;
  margin: 0.625em;
}

.projects {
  background-color: #000016;
}
.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1.25em;
  width: 90vw;
  max-width: 25em;
  min-height: 37.5em;
  background-color: white;
  border: 1px solid white;
  border-radius: 0.625em;
  transition: 0.7s ease;
}
.project-card:hover {
  transform: scale(1.1);
  opacity: 0.8.5;
}
.project-card img {
  width: 100%;
  max-height: 350px;
  border-radius: 10px 10px 0 0;
}
.project-card .info {
  padding: 1.25em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
}
.project-card h4 {
  font-size: 1.25em;
}

.project-card .description {
  text-align: center;
  margin: 0.3125em 0;
}

.project-card .tech-stack {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.project-card .tech-card {
  font-weight: 700;
  margin: 0.5em;
  background-color: #3a6cf4;
  padding: 0.3125em 0.625em;
  border-radius: 0.625em;
  color: white;
}
.project-card .project-links {
  display: flex;
  justify-content: space-between;
}

.project-card a {
  text-decoration: none;
  font-size: 1.125em;
  color: black;
  margin-top: 0.625em;
  font-weight: 700;
}
.project-card a:hover {
  color: #0a49f6;
}

.contacts a {
  text-decoration: none;
}

.contacts h3 {
  color: black;
}

.contacts .card {
  min-height: 18.75em;
}

.contacts p {
  color: black;
  font-size: 1.25em;
}

footer {
  background-color: #000016;
  color: white;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer p {
  font-size: 1.2em;
  font-weight: 700;
}
footer span {
  color: #0a49f6;
}
@media (max-width: 1050px) {
  header {
    padding: 10px 20px;
  }
  section {
    padding: 20px;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 12px;
  }
  .logo {
    font-size: 1.4em;
  }
  nav a {
    padding-left: 3px;
  }
  .social-icons i {
    font-size: 1.2em;
  }
  footer p {
    font-size: 1em;
  }
}

@media (max-width: 400px) {
  body {
    font-size: 10px;
  }
  section {
    padding: 10px;
  }
}
